/**
 *  Colors
 */

$red: #e94e1b;
$blue: #008eca;
$blue-light: #55b2d9;
$white: #ffffff;
$grey: #e6e6e6;
$text-color: #404040;
$contact-bg: #e3eced;
/*
Fonts
*/

$Arial: "Arial", sans-serif;
$Calibri: "Calibri", sans-serif;
$Gudea: "Gudea", sans-serif;
$Viga: "Viga", sans-serif;
$Vista: "VistaSanAltBoo", sans-serif;
$Wingdings-2: "Wingdings-2", sans-serif;
/*
breakpoints
*/
$laptop: 1441;
$tablet: 1024;
$sm-tablet: 860;
$phone: 600;
$sm-phone: 340;
